<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="directoriosApp" type="System.Configuration.AppSettingsSection, System.Configuration" />
    <section name="directoriosProject" type="System.Configuration.AppSettingsSection, System.Configuration" />
  </configSections>
  <appSettings>
    
  </appSettings>
  <directoriosApp>
    <add key="Correctivos" value="Base"/>
    <add key="Documentacion" value="Base"/>
    <add key="Evolutivos" value="Base"/>
    <add key="Produccion" value="Base"/>
    <add key="Misc" value="Full"/>
    <add key="Notas" value="Full"/>
  </directoriosApp>
  <directoriosProject>
    <add key="Desarrollo" value="Base"/>
    <add key="Documentacion" value="Base"/>
    <add key="PAP" value="Base"/>
    <add key="Pruebas" value="Base"/>
    <add key="Misc" value="Full"/>
    <add key="Notas" value="Full"/>
  </directoriosProject>
</configuration>